<header class="header-2">
  <div class="branding">
    <span class="title">Eagle Project Hours Calculator</span>
  </div>
</header>


<div class="row" id="content">
  <div class="col-lg-7">
    <div>
      <p>This calculator makes it easy to generate a report for the hours worked for all of your Eagle Scout project workdays.</p>
      <p>Start by entering in information about who went to each of your workdays below.</p>
      <p>Also, it really doesn't matter how you enter the times.  If you leave off the AM or PM, the calculator will infer the AM/PM and add it to the field for you.</p>
      <p>For start times, times with an hour from 6-11 will become 6 AM, 7 AM, etc.  If this behavior doesn't match your times (for example, you had workdays start at 6 PM or later)</p>
      <p>For end times, times with an hours from 1-7 will become 1 PM, 2 PM, etc.  As with start times, you can change this behavior.</p>
      <p>If you enter the AM/PM on a time, the value will be reformatted slightly, but the AM/PM will <strong>not</strong> change.</p>
    </div>


    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" novalidate class="compact">
      <div class="form-group">
        <label>Your name</label>
        <input type="text" formControlName="leader" placeholder="Your name" />
      </div>
      <h2>My Workdays</h2>
      <eph-workday-list [projectForm]="projectForm" [workdays]="projectData.workdays">

      </eph-workday-list>
      <clr-alert [clrAlertClosable]="false" clrAlertType="alert-danger" *ngIf="!projectForm.valid">
        <div class="alert-item">
          <span class="alert-text">Fill out all the text fields before you generate the report</span>
        </div>
      </clr-alert>
      <br />
      <button class="btn btn-primary" [disabled]="!projectForm.valid" type="submit">Generate report</button>
    </form>

    <div><strong>Summary</strong>
      <br /><p>Form value: {{ projectForm.value | json }}</p>
      <p>Form status: {{ projectForm.status | json }}</p>
    </div>


</div>
<div class="col-lg-5">
  <div>
      <h3>Eagle Project Hours Worked Report</h3>
      <h4 *ngIf="projectForm.value.leader"><em>{{ projectForm.value.leader }}'s Eagle Project</em></h4>
      <div *ngFor="let workday of projectForm.value.workdays; let day = index">
          <h5 *ngIf="workday.date">Day {{ day + 1 }}</h5>
          <p><strong>Total participants: {{ workday.participants.length }}</strong></p>
          <table class="table table-compact">
            <thead>
              <tr>
                <th>Name</th>
                <th>Hours Worked</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of workday.participants; let num = index">
                <td>{{ p.name }}</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>
</div>
