<header class="header-2">
  <div class="branding">
    <span class="title">Eagle Project Hours Calculator</span>
  </div>
</header>


<div class="row" id="content">
  <div class="col-lg-7">
    <div>
      <!-- <p>This calculator makes it easy to generate a report for the hours worked for all of your Eagle Scout project workdays.</p>
      <p>Start by entering in information about who went to each of your workdays below.</p>
      <p>Also, it really doesn't matter how you enter the times.  If you leave off the AM or PM, the calculator will infer the AM/PM and add it to the field for you.</p>
      <p>For start times, times with an hour from 6-11 will become 6 AM, 7 AM, etc.  If this behavior doesn't match your times (for example, you had workdays start at 6 PM or later)</p>
      <p>For end times, times with an hours from 1-7 will become 1 PM, 2 PM, etc.  As with start times, you can change this behavior.</p>
      <p>If you enter the AM/PM on a time, the value will be reformatted slightly, but the AM/PM will <strong>not</strong> change.</p> -->
      <h3>Eagle Project Hours Calculator lets you quickly and accurately calculate the total hours worked for your Eagle Scout project</h3>
      <h4>Save time entering your times!  When entering times, you can (and should, beause it's faster) leave out the : and in most cases, the AM/PM (the program will infer the AM/PM for the time)</h4>
    </div>


    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" novalidate class="compact">
      <div class="form-group">
        <label>Your name</label>
        <input type="text" formControlName="leader" placeholder="Your name" />
      </div>
      <h2>My Workdays</h2>
      <eph-workday-list [projectForm]="projectForm" [workdays]="projectData.workdays">

      </eph-workday-list>
      <clr-alert [clrAlertClosable]="false" clrAlertType="alert-danger" *ngIf="!projectForm.valid">
        <div class="alert-item">
          <span class="alert-text">Remove unused workdays and participants to ensure accurate statistics.  Then click Generate Report.</span>
        </div>
      </clr-alert>
      <p>Click <strong>Generate Report</strong> to view statistics for all workdays combined.</p>
      <br />
      <button class="btn btn-primary" [disabled]="!projectForm.valid" type="submit">Generate report</button>
    </form>

    <div><strong>Summary</strong>
      <br /><p>Form value: {{ projectForm.value | json }}</p>
      <p>Form status: {{ projectForm.status | json }}</p>
    </div>


</div>
<div class="col-lg-5">

  <div *ngIf="summaryData">
      <!-- <h3>Eagle Project Hours Worked Report</h3> -->
      <h4 *ngIf="projectForm.value.leader"><em>{{ projectForm.value.leader }}'s Eagle Project</em></h4>
      <h5>Total Hours Worked by Participant</h5>
      <table class="table table-compact">
        <thead>
          <tr>
            <th># Workdays</th>
            <th>Name</th>
            <th>Hours Worked</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let p of enhancePartObjs(summaryData.totalTimesArrays); let num = index">
            <tr>
              <td>{{ p.numWorkdays }}</td>
              <td>{{p.key }}</td>
              <td><span *ngIf="totalTimeExists(p)">{{ p.hour }}:{{ p.minute | number: "2.0-0"}}</span></td>
              <td>{{ p.prettyType }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <h5>Total Hours Worked by Type</h5>
      <table class="table table-compact">
        <thead>
          <tr>
            <th>Participant Type</th>
            <th># Particpants</th>
            <th>Hours Worked</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let p of partNumsAsArray(summaryData.totalPartNums); let num = index">
            <tr>
              <td>{{ p.partType }}</td>
              <td>{{ p.num }}</td>
              <td>{{ summaryData.totalTimesByParticipantType[p.partType].hour }}:{{ summaryData.totalTimesByParticipantType[p.partType].minute | number: "2.0-0"}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>

  </div>
      <!-- <h3>Eagle Project Hours Worked Report</h3> -->
      <h4 *ngIf="projectForm.value.leader"><em>{{ projectForm.value.leader }}'s Eagle Project</em></h4>
      <div *ngFor="let workday of projectForm.value.workdays; let day = index">
        <div *ngIf="workday.date">
          <h5>Day {{ day + 1 }}: {{ workday.date | date:'EEEE, MMM dd, yyyy'}}</h5>
          <p *ngIf="!noParticipantsForWorkday(workday.participants); else noParticipants">{{ workday.participants.length | i18nPlural: participantNumberMapping }} worked {{ workday.participants | sumHours: 'workday' }}</p>
          <ng-template #noParticipants><strong>No participants</strong></ng-template>
          <table class="table table-compact">
            <thead>
              <tr>
                <th>Name</th>
                <th>Hours Worked</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let p of workday.participants; let num = index" >
                <tr *ngIf="p.name">
                  <td>{{ p.name }}</td>
                  <td><span *ngIf="totalTimeExists(p.totalTime)">{{ p.totalTime.hour }}:{{ p.totalTime.minute | number: "2.0-0"}}</span></td>
                </tr>
              </ng-container>
              <tr *ngIf="noParticipantsForWorkday(workday.participants)">
                <td colspan="2">This workday has no participants</td> <!-- use colspan for merged cells in table - https://www.computerhope.com/issues/ch001655.htm -->
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!workday.date">
          <h5>Day {{ day + 1 }}</h5>
          No data can be shown for workday {{ day + 1 }} until a date is specified for it
        </div>
      </div>
  </div>
</div>
