<header class="header-2">
  <div class="branding">
    <span class="title">Eagle Project Hours Calculator</span>
  </div>
</header>







<div class="row" id="content">
  <div class="col-lg-12">
    <div>
      <p>This calculator makes it easy to generate a report for the hours worked for all of your Eagle Scout project workdays.</p>
      <p>Start by entering in information about who went to each of your workdays below.</p>
    </div>


    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" novalidate class="compact">
      <div class="form-group">
        <label>Your name</label>
        <input type="text" formControlName="leader" placeholder="Leader" />
      </div>
      <h2>My Workdays</h2>
      <eph-workday-list [projectForm]="projectForm" [workdays]="projectData.workdays">

      </eph-workday-list>
      <clr-alert [clrAlertClosable]="false" clrAlertType="alert-danger" *ngIf="!projectForm.valid">
        <div class="alert-item">
          <span class="alert-text">Fill out all the text fields before you generate the report</span>
        </div>
      </clr-alert>
      <br />
      <button class="btn btn-primary" [disabled]="!projectForm.valid" type="submit">Generate report</button>
    </form>

    <div><strong>Summary</strong>
      <br /><p>Form value: {{ projectForm.value | json }}</p>
      <p>Form status: {{ projectForm.status | json }}</p>
    </div>
</div>
